.div{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.divv{
    background: var(--bg-2);
    display: flex;
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
}

.img{
    width: 100px;
    height: 120px;
    background: var(--bg);
}
.dbtn{
    display: flex;
    justify-content: center;
    height: auto;
}
.div input {
    height: 4px;
}